"*":
  "atom-beautify":
    general:
      _analyticsUserId: "a87ec54f-4581-4450-98a4-8d18e7c6a673"
    js:
      beautify_on_save: true
      indent_size: 2
  "autocomplete-haskell":
    useBackend: "haskell-ghc-mod"
  core:
    telemetryConsent: "limited"
    themes: [
      "one-dark-ui"
      "base16-tomorrow-dark-theme"
    ]
  editor:
    fontFamily: "PragmataPro"
    fontSize: 15
    invisibles: {}
    preferredLineLength: 120
  "elm-format": {}
  elmjutsu:
    autocompleteEnabled: true
    autocompleteSnippetsEnabled: true
    cacheDirectory: "/var/folders/by/3r67nxd94rl9ynq051t7f9t40000gp/T/elmjutsu28745oJ0f8QYhXxzh"
    hyperclickEnabled: true
    sidekickPosition: "right"
  "exception-reporting":
    userId: "c69e9b22-2b40-402e-33aa-c0b4138e7008"
  "ide-haskell":
    onSavePrettify: true
  "ide-haskell-cabal":
    cabal:
      activeGhcVersion: "8.0"
  "js-hyperclick": {}
  "language-elm":
    elmOraclePath: "/Users/chris-stangier/.nvm/versions/node/v5.9.0/bin/elm-oracle"
  linter:
    errorPanelHeight: 119
    gutterEnabled: false
    ignoreMatchedFiles: "/**/*Spec.js"
    lintOnFly: false
    showErrorInline: false
  "linter-elm-make":
    elmMakeExecutablePath: "/Users/chris-stangier/.nvm/versions/node/v5.9.0/bin/elm-make"
  minimap:
    textOpacity: 0.4
  "project-manager": {}
  tabs:
    showIcons: false
  welcome:
    showOnStartup: false
  whitespace:
    ensureSingleTrailingNewline: false
".elm.source":
  editor:
    autoIndentOnPaste: true
    preferredLineLength: 120
    showIndentGuide: true
