[
  {
    title: "Timer"
    group: "planning-poker"
    paths: [
      "/Users/chris-stangier/Development/planning-poker/timer"
    ]
  }
  {
    title: "Planning poker"
    group: "planning-poker"
    paths: [
      "/Users/chris-stangier/Development/planning-poker/planning-poker"
    ]
  }
  {
    title: "dotfiles"
    paths: [
      "~/.dotfiles"
    ]
  }
  {
    title: "astronote-web"
    group: "astronote"
    paths: [
      "/Users/chris-stangier/Development/Astronote/astronote-web"
    ]
  }
  {
    title: "astronote-sync"
    group: "astronote"
    paths: [
      "/Users/chris-stangier/Development/Astronote/astronote-sync"
    ]
  }
  {
    title: "mindmap"
    group: "astronote"
    paths: [
      "/Users/chris-stangier/Development/Astronote/mindmap"
    ]
  }
  {
    title: "depict Manager"
    group: "depict.io"
    paths: [
      "/Users/chris-stangier/Development/Photos/manager"
    ]
  }
]
